.navbar-brand {
  font-size: large;
}

/* Make the 'M', 'L', and 'B' of the Navbar logo big and red  */
span.red {
  font-size: x-large;
  color: red;
}

body {
  background-color: rgb(237, 238, 240);
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

h6 {
  /* Add margin on h6 elements */
  margin: 1.5em;
}

li.game {
  /* I want room for 3 game list items accross, plus space for margin */
  width: 25%;
  /* Display horizontally until list items don't fit */
  display: inline-block;
  border: 2px solid gray;
  padding: 4px;
  margin: 8px;
  list-style: none;
  background-color: white;
  text-align: left;
}

table
{
    text-align: left;
}

a.previous {
  /* Put link for previous day's games on left  */
  float: left;
}

a.next {
  /* Put link for next day's games on right */
  float: right;
}

/* Make the index page game listings responsive! */
@media screen and (max-width:1000px) {
  li.game {
    width:90%; /* The width is 90%, when the viewport is 800px or smaller */
  }
}
