{% extends "layout.html" %}

{% block main %}
  <h6>
    Major League Baseball Games for {{day}}:
  </h6>
  <a class='previous' href='/{{previous_day}}'>Previous Day</a>
  <a class='next' href='/{{next_day}}'>Next Day</a>
    <ul>
      {% for game in games %}
          <li class='game'>
            <h6>{{datetime.strptime(game["DateTime"], '%Y-%m-%dT%H:%M:%S').strftime('%-I:%M %p ET')}}</h6>
            <h6>
              <img src='{{game["AwayTeamLogo"]}}' alt="Away Logo" height="40" width="40">
              {{game["AwayTeamName"]}}
            </h6>
            <h6>
              <img src='{{game["HomeTeamLogo"]}}' alt="Home Logo" height="40" width="40">
              {{game["HomeTeamName"]}}
            </h6>
            <a class="button" href='{{"/game/{}".format(game["GameID"])}}'>Analyze Matchups</a>
          </li>
      {% endfor %}
    </ul>

{% endblock %}
